* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Add padding to containers */
.container {
    margin: 0 auto;
    padding: 16px;
    max-width: 40%;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

/* Set a style for the submit/register button */
.registerbtn, .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
body > form > div > button:nth-child(12), body > div > button:nth-child(3) {
    margin-bottom: 0;
}

.registerbtn:hover, .btn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

#pipe {
    font-size: x-large;
    margin-bottom: 25px;
}

@media only screen and (max-width: 900px) {
    #pipe span {
        display: none;
    }
    #pipe:after {
        content: "CMS platform PGAWORLDS";
        font-size: initial;
    }
    .container {
        max-width: unset;
        width: 90%;
    }
    .fit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* height: 90vh;
        overflow: scroll; */
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .fit {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        /* height: 90vh;
        overflow: scroll; */
    }
}