html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.mobile_brake {
    display: none;
}
header {
    height: 100vh;
    background: #252a33;
    position: relative;
}
#reg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
h1 {
    margin: 0;
}
.b_reg {
    padding: 8px 20px 5px;
    font-size: 16px;
    font-weight: bold;
    background: #ccc;
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px #999;
    font-family: 'Nunito', sans-serif;
  }
.b_reg:active, .bBuy:active {
    background: #b7b7b7;
    transform: translateY(4px);
    box-shadow: 0 1px #999;
}
.b_reg:focus {
    outline: 0;  
}
#status {
    color: red;
}
.spacer {
    clear: both;
    height: 20px;
}
#reg_form, #title1, #title2 {
    width: 50vw;
    margin: 0 auto;
}
#title1 {
    font-size:26px;
    font-weight:normal;
    text-align: left;
    color:rgba(17, 17, 17, 1);
    margin-bottom: 50px;
    margin-top: 30px;
}
#title2 {
    font-size:22px;
    font-weight:normal;
    text-align: left;
    color:rgba(17, 17, 17, 1);
    margin-bottom: 50px;
    margin-top: 30px;
}
.row {
    width: 50%;
    float: left;
}
.rowfull {
    width: 100%;
}
label {
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    font-weight: normal;
}
.half_input {
    padding: 0 15px;
    margin-top: 5px;
    height: 50px;
    width: calc(100% - 60px);
    font-size: 15px;
    /*color: rgba(153, 153, 153, 1);*/
    color: black;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 7px;
}
.full_input {
    padding: 0 15px;
    margin-top: 5px;
    height: 50px;
    width: calc(100% - 30px);
    font-size: 15px;
    /*color: rgba(153, 153, 153, 1);*/
    color: black;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 7px;
}
input {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}
input:focus {
    outline: 0;
    border: 1px solid #42adf4;
}
/* BROWSE IMAGE FOR UPLOAD */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
.inputfile + label {
    /*
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    */
    padding: 8px 20px 5px;
    font-size: 16px;
    font-weight: bold;
    background: #f5f5f5;
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px #ccc;
    font-family: 'Nunito', sans-serif;
}
.inputfile:active + label {
    background: #b7b7b7;
    transform: translateY(4px);
    box-shadow: 0 1px #999;
}
.inputfile:focus + label,
.inputfile + label:hover {
    cursor: pointer;
}
.inputfile:focus + label {
	outline: 1px solid #42ADF4;
	outline: -webkit-focus-ring-color auto 5px;
}
/* END */

#emailstatus, #numstatus {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: red;
    padding-left: 15px;
}
.note {
    font-size: 13px;
    color: #999;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
footer {
    margin-top: 50px;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    height: 200px;
    background: #252A33;
    color: #f5f5f5;
}
footer p {
    margin-top: 38px;
}

@media only screen and (max-width: 900px) {
	.wrapp {
		width: 100vw;
	}
	#reg_form {
		width: 90vw;
	}
	.row {
		width: auto;
		float: unset;
	}
	
	.half_input, .full_input {
		box-sizing: border-box;
		margin-left: 0!important;
		width: 90vw;
	}
	#country {
		margin: 0 auto 20px!important;
		display: block;
		width: 100%;
	}
	#bdate {
		width: 100%;
	}
	.mobile_brake {
		display: block;
	}
	#signupform > div:nth-child(21) > input[type="radio"]:nth-child(3),
	#signupform > div:nth-child(22) > input[type="radio"]:nth-child(3),
	#signupform > div:nth-child(23) > input[type="radio"]:nth-child(3),
	#signupform > div:nth-child(12) > input[type="radio"]:nth-child(3),
	#signupform > div:nth-child(13) > input[type="radio"]:nth-child(3) {
		margin-top: 10px;
	}
	#signupform > div:nth-child(3) > label,
	#signupform > div:nth-child(9) > label,
	#signupform > div:nth-child(10) > label,
	#signupform > div:nth-child(13) > label,
	#signupform > div:nth-child(18) > label {
		margin: 0!important;
	}
}