body {
    padding: 10px;
    line-height: unset;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    font-size: 13px;
}
table, td, th {
    padding: 5px;
}
.dbChange:hover {
    background: #e6fcd9;
}
.thExpand {
    width: 1%;
}
tr:not(:first-child):hover { /* Da ne farba th u crvenkasto... otud :not */
    background-color: #ffcece!important;
}
.short {
    float: left;
    margin-right: 50px;
}
.mdb-select {
    padding: 7px;
    border-radius: 5px;
    margin-right: 5px;
    width: 222px;
}
.nav_all {
    display: block;
}
.wrapp {
    max-width: 100%;
}
.spacer {
    clear: both; 
    height: 10px;
}
.search {
    border: 1px solid #A9A9A9;
    padding: 8px;
}
.search::placeholder {
    color: black;
}
#message, #messageTL {
    display: none;
    font-size: 20px;
    color: red;
}
.inp {
    border: 0;
    width: 85px;
    background: rgba(0,0,0,0);
    padding: 3px;
    cursor: pointer;
}
.inp:focus {
    outline: 2px solid blue;
}

/* FLEXBOX */
.wrapper {
    max-width: fit-content;
}
.menu {
    display: flex;
    align-items: stretch;
}
.menu > div {
    /*flex-grow: 1;*/
}
.buttons_div {
    text-align: right;
}
